<html>
    <head>
        <h1 align="center">Bienvenido a Pokememo</h1>
    </head>
    <body>
        <div id="contenedorTabla">
            <table>
                <tr>
                    <td id="celda1"></td>
                    <td id="celda2"></td>
                    <td id="celda3"></td>
                    <td id="celda4"></td>
                </tr>
                <tr>
                    <td id="celda5"></td>
                    <td id="celda6"></td>
                    <td id="celda7"></td>
                    <td id="celda8"></td>
                </tr>
                <tr>
                    <td id="celda7"></td>
                    <td id="celda8"></td>
                    <td id="celda9"></td>
                    <td id="celda3"></td>
                </tr>
            </table>
    </div>
    </body>
</html>