<html>
    <head>
        <h1 align="center">Bienvenido a Pokememo</h1>
    </head>
    <body>
        
        <div id="contenedorTabla">
            <table id="tablaPokemon" border=1 style="text-align: center">
                <tr>
                    <td>
                          <%if session["pikachu1"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu1" href="/click?posicion=1"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu2"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu2" href="/click?posicion=2"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                          <%if session["pikachu3"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu3" href="/click?posicion=3"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu4"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu4" href="/click?posicion=4"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                </tr>
 <tr>
                    <td>
                          <%if session["pikachu5"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu5" href="/click?posicion=5"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu6"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu6" href="/click?posicion=6"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                          <%if session["pikachu7"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu7" href="/click?posicion=7"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu8"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu8" href="/click?posicion=8"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                </tr>
<tr>
                    <td>
                          <%if session["pikachu9"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu9" href="/click?posicion=9"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu10"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu10" href="/click?posicion=10"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                          <%if session["pikachu11"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu11" href="/click?posicion=11"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu12"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu12" href="/click?posicion=12"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                </tr>
<tr>
                    <td>
                          <%if session["pikachu13"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu13" href="/click?posicion=13"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu14"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu14" href="/click?posicion=14"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                          <%if session["pikachu15"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu15" href="/click?posicion=15"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                    <td>
                        <%if session["pikachu16"]=="mostrar"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="imgpikachu16" href="/click?posicion=16"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
                    </td>
                </tr>
            </table>
    </div>
    </body>
</html>