<html>
    <head>
        <h1 align="center">Bienvenido a Pokememo</h1>
    </head>
    <body>
        
        <div id="contenedorTabla">
            <table id="tablaPokemon" border=1 style="text-align: center">
                <tr>
                    <td id="celda12">
                        
                        
                          <%if session["pikachu"]=="2"%>
                            <img id="togepi" src="http://vignette1.wikia.nocookie.net/es.pokemon/images/f/ff/Togepi.png/revision/latest?cb=20140206223753" width="100px" heigth="100px" >
                         <%else%>
                            <a id="pikachu" href="/click"><img src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA1')">
                            </a>
                         <%end%>
        
                    </td>
                    <td id="celda2"><img id="imgA2" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA2')"></td>
                    <td id="celda3"><img id="imgA3" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA3')"></td>
                    <td id="celda4"><img id="imgA4" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgA4')"></td>
                </tr>
                <tr>
                    <td id="celda5"><img id="imgB1" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgB1')"></td>
                    <td id="celda6"><img id="imgB2" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgB2')"></td>
                    <td id="celda7"><img id="imgB3" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgB3')"></td>
                    <td id="celda8"><img id="imgB4" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgB4')"></td>
                </tr>
                <tr>
                    <td id="celda9"><img id="imgC1" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgC1')"></td>
                    <td id="celda10"><img id="imgC2" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgC2')"></td>
                    <td id="celda11"><img id="imgC3" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgC3')"></td>
                    <td id="celda12"><img id="imgC4" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgC4')"></td>
                </tr>
                <tr>
                    <td id="celda13"><img id="imgD1" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgD1')"></td>
                    <td id="celda14"><img id="imgD2" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgD2')"></td>
                    <td id="celda15"><img id="imgD3" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgD3')"></td>
                    <td id="celda16"><img id="imgD4" src="https://pbs.twimg.com/profile_images/478947556760645632/IwdfeL3J_400x400.png" width="100px" heigth="100px" onclick="giro('imgD4')"></td>
                </tr>
            </table>
    </div>
    </body>
</html>